//=============================================================================
// Generic project resource file
//=============================================================================

1 ICON "comoc.ico"
//=============================================================================
// Manifest
//=============================================================================
1 24 ".\manifest.xml"

